@import 'variables';

body{
    .wrap{
        width: $width;
        margin:0 auto;
        position: relative;
    }
    .btn-process{
        border-bottom: 1px solid #178acc;
        background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
        background-repeat: no-repeat;
        padding: 14px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
        display: block;
        text-align: center;
        margin-top: 10px;
        color: #fff;
    }
    margin: 0;
    .header{
        background-color: #2fa4e7;
        border-color: #1995dc;
        .wrap{
            .logo{
                position: absolute;
                top: 10px;
            }
            ul{
                padding-left: 280px;
                margin: 0;
                overflow: hidden;
                li{
                    float: left;
                    list-style: none;
                    a{
                        color: #fff;
                        padding: 20px 20px;
                        display: block;
                        text-decoration: none;
                    }
                }
            }
            
        }
        button{
            display: none;
        }
        
    }
    .content{
        min-height: 600px;
        .list-apps{
            margin: 15px 0;
            .item{
                width: 31%;
                margin-bottom: 25px;
                float: left;
                margin-right:1%;
                box-shadow: rgba(0,0,0,0.14902) 0px 2px 4px 0px;
                webkit-box-shadow: rgba(0,0,0,0.14902) 0px 2px 4px 0px;
                -moz-box-shadow: rgba(0,0,0,0.14902) 0px 2px 4px 0px;
                img{
                    width: 100%;

                }
                a{
                    text-decoration: none;
                    h3{
                        text-align: center;
                        text-transform: uppercase;
                        color: #333;
                        font-size: 16px;
                        display: block;
                        &:hover{
                            color: #990000;
                        }
                    }
                }
                &:last-child{
                    margin-right:0;
                }
            }
        }
        .detail-app{
            margin-top: 25px;
            .left{
                width: 70%;
                float: left;
            }
            .right{
                width: 25%;
                float: right;
            }
            .detail{
                border-radius: 6px;
                padding-left: 1%;
                padding-right: 1%;
                padding-top: 0px;
                padding-bottom: 30px;
                border: 1px solid #d8d8d8;
                .result{
                    a{
                        text-decoration: none;
                    }
                    h1{
                        text-align: center;
                        color: #333;
                        font-size: 25px;
                        
                    }
                    img{
                        width: 100%;

                    }
                }
            }
            .sidebar{
                .item{
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                    box-shadow: rgba(0,0,0,0.14902) 0px 2px 4px 0px;
                    webkit-box-shadow: rgba(0,0,0,0.14902) 0px 2px 4px 0px;
                    -moz-box-shadow: rgba(0,0,0,0.14902) 0px 2px 4px 0px;
                    img{
                        width: 100%;
                    }
                    a{
                        text-decoration: none;
                        h3{
                            text-align: center;
                            text-transform: uppercase;
                            color: #333;
                            font-size: 16px;
                            display: block;
                            &:hover{
                                color: #990000;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        clear: both;
        padding-top: 10px;
        p{
            text-align: center;
        }
    }
}